body {
    color: black;
}

img {
    border-radius: 10%;
    margin:auto;
    max-width: 110%;
    display: flex;
    justify-content: center;
}

.padded{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
}

.padded-text{
    padding-left: 10%;
}

h3{
    color: #FF671F;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
    color: #046A38;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.button-align{
    float: right;
}